body {
    font-weight: normal;
    font-size: 15px;
    line-height: 200%;
}


a {
    color: blue;
}

.myclass {
    background-color: white;
}

#mynavigation>a {
    color: red;
}

a:hover {
    color: blue;
}