body{
    background-color: #4586de;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    /* for older browsers we can use 
    moz-border-radius: 20px;
    webkit-border-radius: 20px;
    khtml-border-radius: 20px; */
}

header .brand{
    color: #666666;
    font-family: 'Pacifico', Georgia;
    font-size: 230%;
    padding: 40px;
}

header .brand span{
    font-family: 'Open Sans', sans-serif;
    font-size: 40%;
    padding: 20px;
}

.hero{
    height: 400px;
    background: #68bba1 url('../img/logo_blog.jpg') center no-repeat;
}